body {
    background-color: lightblue;
    text-align: center;
}

p {
    font-family: Helvetica;
}

h1 {
    font-family: sans-serif;
    text-shadow: -2px 2px 5px;
}

img, div {
    border-radius: 20px;
    outline-style: solid;
    outline-width: 4px;
    
}

div {
    background-color: white;
    outline-color: white;
    padding: 10px;
    margin: auto;
    width: 50%;
    padding: 10px;
    justify-content: center;
}

img {
    outline-color: gray;
}